<head>
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
      <nav class="navbar">
        <a class="logo" href="#"><img src="../img/kakapo_logo2.png" alt="logo" class="logo-image"></a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="../pages/home.php">Página inicial</a></li>
          <li><a href="../pages/myprofile.php">Meu Perfil</a></li>
          <li><a href="../../src/logout.php"><span class="material-icons texto-comum">logout</span></a></li>
        </ul>
      </nav>
    </header>
    <script src="../scripts/mobile-navbar.js"></script>
</body>
</html>